<% provide(:title, "原料登録") %>
<% provide(:class_text, "item--new") %>
<% provide(:button_text, "登録") %>
<h1>原料登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'item_form' %>
  </div>
</div>